a:link, a:visited {
  background-color: pink;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 75px;
  margin-bottom: 100px;
}

a:hover, a:active {
  background-color: #e60000;
}
